---
ci:
  skip: [clang-tidy]

default_install_hook_types:
- pre-commit
- pre-merge-commit
- pre-push
- prepare-commit-msg
- commit-msg
- post-commit
- post-checkout
- post-merge
- post-rewrite

fail_fast: false

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args: [--maxkb=200]
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-vcs-permalinks
  - id: destroyed-symlinks
  - id: detect-private-key
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: check-yaml
    args: [--allow-multiple-documents]

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
  - id: check-mailmap
    name: detect if an email address needs to be added to mailmap
  - id: git-check
    name: check for conflict markers and core.whitespace errors

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-crlf
  - id: remove-tabs
    name: tabs remover
    args: [--whitespaces-count, '2']
  - id: insert-license
    files: \.(h(pp)|h(pp.in)|c(pp)|h.in|c?)$
    args: [--license-filepath, .LICENSE, --comment-style, /*|*|*/, --use-current-year, --fuzzy-match-generates-todo, --fuzzy-ratio-cut-off, '85', --fuzzy-match-todo-instructions, ' TODO: Delete the inconsistent license and above line and rerun pre-commit to insert a good license. If this is the desired behavior add "//  insert-license=off" at the beginning to the file.', --skip-license-insertion-comment, '//  insert-license=off' ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell

#- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
#  rev: 0.2.2
#  hooks:
#  - id: yamlfmt
#    name: format YAML files
#    args: [--mapping, '2', --sequence, '2', --offset, '0', --width, '250']

- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 3.6.0
  hooks:
  - id: editorconfig-checker
    name: check .editorconfig rules

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
  - id: markdownlint
    args: [--config=.markdownlint.yml, scan]

- repo: https://github.com/Kr4is/cmake-format-precommit
  rev: v0.6.14
  hooks:
  - id: cmake-format
    args: [--config=.cmake-format.yml]
  - id: cmake-lint
    args: [--config=.cmake-linter.yml]

- repo: https://gitlab.com/daverona/pre-commit/cpp
  rev: 0.8.0
  hooks:
  - id: cpplint

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.8
  hooks:
  - id: clang-format
